body {
    font-family: 'Lato', sans-serif;
    width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(270deg, #2b9cf2, #357fc5, #30def3, #d026ff);
    background-size: 1600% 1600%;
	-webkit-animation: Gradient 25s ease infinite;
	-moz-animation: Gradient 25s ease infinite;
    animation: Gradient 25s ease infinite;
    font-family: 'Raleway', sans-serif;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.jumbotron {
    height: 550px;
    text-align: center;
    
}


.navbar-brand,
.navbar-nav a {
    font-family: 'Lato', sans-serif;
}


.card {
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
}


strong { 
    font-weight: bold; 
}

.btn-primary {
    font-weight: bold;
	font-size: 17px;
	letter-spacing: 2px;
	padding: 13px 17px;
	border: 3px solid #2ecc71;
	
    transition: (color .2s linear, background-color .2s linear);
    background: #2ecc71;
    
}

.btn-primary:hover {
    border: 3px solid white;
    background-color: transparent;
}


.title {
    font-size: 22px;
}

.card {
    border-radius: 10px;
}

.fas {
    color: #2B9CF2;
}

.fass {
    color: #2B9CF2;
}

.gradientBtn {
    -webkit-animation: Gradient 25s ease infinite;
    animation: Gradient 25s ease infinite;
    background-image: linear-gradient(124deg, #b92a7e, #b86bff, #3273dc);
    background-size: 800% 800%
}

.btn-wide {
    min-width: 9.6875rem;
}

.btn-pill {
    border-radius: 6.1875rem;
}

.transition-3d-hover {
    transition: all 0.2s ease-in-out;
}
  
.transition-3d-hover:hover, .transition-3d-hover:focus {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:black;
    height: 1px;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }
.textHeaders {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 3rem;
}

.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}


